@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<TheTempleTasks.Web.Models.Dtos.JokeWebDto>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table table-striped">
    <thead>
        <tr>

            <th>Type</th>
            <th>Setup</th>
            <th>Delivery</th>
            <th>Category</th>
            <th>Safe</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var joke in Model)
        {
            <tr>
                <td>@joke.Type</td>
                <td>@joke.Setup</td>
                <td>@joke.Delivery</td>
                <td>@joke.Category</td>
                <td>@joke.Safe</td>
                <td>@joke.Lang</td>
            </tr>
        }
    </tbody>
</table>
